hr
.card
  .card-header.bg-info
    .row
      h4.text-uppercase.text-white.card-title Recent Items &nbsp;
  .card-body
    p.card-text Task 1
    p.card-text: a(href='/dashboard/clients/client-name') Castiel
    p.card-text: a(href='/dashboard/workouts/workout-name') Upper Body #3
