.fluid-container(style='padding-top: 35px;')
  .jumbotron.jumbotron-fluid.landing-login.vertical-center
    .container
      .row.header-overlay
        .col-xs-12.col-lg-6.text-right
          h1.display-3 We're Going Places.
          p.lead Want to be in the loop? Join our mailing list today!
        .col-xs-12.col-lg-6.vertical-center
          .form-group
            .input-group.input-group-lg 
              input.form-control(type="text", id="inputEmail", placeholder="email@example.com")
              span.input-group-btn
                button.btn.btn-primary(type='button') Join!
