.container(style='padding-top: 25px;')  
  footer
    .row
      .col-xs-12.col-md-4
        h6 Information Pages
        ul
          li
            a.btn(href='/') Home/Landing Page
          li
            a.btn(href='/features') Features
          li
            a.btn(href='/pricing') Pricing
          li
            a.btn(href='/contact') Contact
          li
            a.btn(href='/exercises') Exercise List
          li
            a.btn.disabled(href='/exercises/exercise-name') Exercise Details
          li
            a.btn.disabled(href='/exercises/new') New Exercise
      .col-xs-12.col-md-4
        h6 Dashboard Pages
        ul
          li
            a.btn(href='/dashboard') Dashboard Home
          li
            a.btn(href='/dashboard/clients') Client List
          li
            a.btn.disabled(href='/dashboard/clients/client-name') Client Details
          li
            a.btn.disabled(href='/exercises/clients/new') New Client
          li
            a.btn(href='/dashboard/assessments') Assessment List
          li
            a.btn.disabled(href='/dashboard/assessments/assessment-name') Assessment Details
          li
            a.btn.disabled(href='/dashboard/assessments/new') New Assessment
          li
            a.btn(href='/dashboard/workouts') Workout List
          li
            a.btn.disabled(href='/dashboard/workouts/workout-name') Workout Details
          li
            a.btn.disabled(href='/dashboard/workouts/new') New Workout
      .col-xs-12.col-md-4
        h6 Account Management Pages
        ul
          li
            a.btn.disabled(href='/account') Account Management Home
          li
            a.btn.disabled(href='/account/user') User Profile
          li
            a.btn.disabled(href='/register') Create Account
          li
            a.btn.disabled(href='/login') Login
    .row
      .col-xs-12
        small &copy; Austin Hicks 2017
