doctype html
html

  //- 
    To be extended by Home/Landing, Pricing, and Contact pages.
  
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/superhero-bootstrap.min.css')
    <!--link(rel='stylesheet', href='/bootstrap/css/united-bootstrap.min.css')-->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
      
  body        
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
      button.navbar-toggler.navbar-toggler-right.collapsed(type='button', data-toggle='collapse', data-target='#navbarContent', aria-controls='navbarContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='/') trainr 
      
      #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/features') Features
          li.nav-item
            a.nav-link(href='/pricing') Pricing
          li.nav-item
            a.nav-link(href='/contact') Contact Us
    
    block content
        
    .container  
      footer
        .row
          .col-xs-12.col-md-4
            h6 Information Pages
            ul
              li
                a(href='/') Home/Landing Page
              li
                a(href='/features') Features
              li
                a(href='/pricing') Pricing
              li
                a(href='/contact') Contact
              li
                a(href='/exercises') Exercise List
              li
                a(href='/exercises/exercise-name') Exercise Details
              li
                a(href='/exercises/new') New Exercise
          .col-xs-12.col-md-4
            h6 Dashboard Pages
            ul
              li
                a(href='/dashboard') Dashboard Home
              li
                a(href='/dashboard/clients') Client List
              li
                a(href='/dashboard/clients/client-name') Client Details
              li
                a(href='/exercises/clients/new') New Client
              li
                a(href='/dashboard/assessments') Assessment List
              li
                a(href='/dashboard/assessments/assessment-name') Assessment Details
              li
                a(href='/dashboard/assessments/new') New Assessment
              li
                a(href='/dashboard/workouts') Workout List
              li
                a(href='/dashboard/workouts/workout-name') Workout Details
              li
                a(href='/dashboard/workouts/new') New Workout
          .col-xs-12.col-md-4
            h6 Account Management Pages
            ul
              li
                a(href='/account') Account Management Home
              li
                a(href='/account/user') User Profile
              li
                a(href='/register') Create Account
              li
                a(href='/login') Login
        .row
          .col-xs-12
            small &copy; Austin Hicks 2017
                    
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
      
    
