doctype html
html

  //- 
    To be extended by Home/Landing, Pricing, and Contact pages.
  
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/superhero-bootstrap.min.css')
    <!--link(rel='stylesheet', href='/bootstrap/css/united-bootstrap.min.css')-->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
      
  body        
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
      button.navbar-toggler.navbar-toggler-right.collapsed(type='button', data-toggle='collapse', data-target='#navbarContent', aria-controls='navbarContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='/') trainr 
      
      #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/features') Features
          li.nav-item
            a.nav-link(href='/pricing') Pricing
          li.nav-item
            a.nav-link(href='/contact') Contact Us
    
    block content
    
    include site-map-footer.pug
                    
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
      
    
