extends layouts/dash-layout.pug

block content
  .row.my-4
    .col-lg-3.col-md-4
      .input-group
        span.input-group-addon
          .i.fa.fa-search
        input.form-control(type="text")
      include includes/dash-recent-items.pug
      hr
      button.btn.btn-block.btn-info
        .i.fa.fa-users &nbsp;
        | Add Client
    .col-lg-9.col-md-8
      .table-responsive
        table.table.table-striped
          thead.thead-inverse
            tr
              th #
              th Name
              th Status
          tbody
            tr
              td 1,001
              td John Doe
              td Active
            tr
              td 1,002
              td Jane Doe
              td Active
            tr
              td 1,003
              td Jimmy Smith
              td Inactive
            tr
              td 1,004
              td Tina Fey 
              td Active
            tr
              td 1,005
              td Lilo Stitch
              td Inactive
            tr
              td 1,006
              td Dean Winchester
              td Active
            tr
              td 1,007
              td Sam Winchester
              td Active
            tr
              td 1,008
              td
                a(href='/dashboard/clients/client-name') Castiel
              td Lead
            tr
              td 1,009
              td John Winchester
              td Lead
  <!--/row-->
