extends layouts/dash-layout.pug

block content
  .row.my-4
    .col-lg-3.col-md-4
      .card
        .card-header.bg-info
          .row
            h4.text-uppercase.text-white.card-title Recent Items &nbsp;
        .card-body
          p.card-text Task 1
          p.card-text Castiel
          p.card-text Upper Body #3
      br
      .input-group
        span.input-group-addon
          .i.fa.fa-search
        input.form-control(type="text")
      br
      button.btn.btn-block.btn-info
        .i.fa.fa-plus-square-o &nbsp;
        | New Exercise
    .col-lg-9.col-md-8
      .table-responsive
        table.table.table-striped
          thead.thead-inverse
            tr
              th #
              th Name
              th Classification
          tbody
            tr
              td 1,001
              td Bench Press
              td Strength
            tr
              td 1,002
              td Power Clean
              td Strength
            tr
              td 1,003
              td Deadlift
              td Strength
            tr
              td 1,004
              td Back Squat
              td Strength
            tr
              td 1,005
              td Front Squat
              td Strength
            tr
              td 1,006
              td Push Jerk
              td Strength
            tr
              td 1,007
              td Double Unders
              td Aerobic
            tr
              td 1,008
              td Box Jump
              td Aerobic
            tr
              td 1,009
              td Pull-Up
              td Gymnastic
  <!--/row-->
