extends layouts/info-layout.pug

block content
  
  .container(style='padding-top: 25px;')
    .jumbotron
      h1.display-3 Features
      p.lead Learn more about what makes us unique.
      
    .row
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Selling Point One
          .card-block.text-center
            span.fa.fa-area-chart.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things.
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Selling Point Two
          .card-block.text-center
            span.fa.fa-cogs.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things.
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Selling Point Three
          .card-block.text-center
            span.fa.fa-mobile.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things. 
            
    .row(style='padding-top: 25px;')
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Some more features
          .card-block.text-center
            span.fa.fa-area-chart.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things.
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Another feature
          .card-block.text-center
            span.fa.fa-cogs.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things.
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Is this getting old yet?
          .card-block.text-center
            span.fa.fa-mobile.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things. 
            
    .row(style='padding-top: 25px;')
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Another row, why not?
          .card-block.text-center
            span.fa.fa-area-chart.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things.
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Another feature
          .card-block.text-center
            span.fa.fa-cogs.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things.
      .col-xs-12.col-lg-4
        .card
          h3.card-title.text-center Yep, it got old.
          .card-block.text-center
            span.fa.fa-mobile.fa-5x
            p.card-text <br />Things about the selling point. Multiple
            | lines of things can go here. I'm just typing things in order
            | to show some things. 

  include includes/join-mailing-list.pug
